.DS_Store
node_modules
package-lock.json
/dist
/dist-no-auth

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
dash.njsproj.user
*.suo
*.ntvs*
*.sw?
*.njsproj.user
/bin
/obj/Debug
/.vs/dash/v16
/coverage
/.env
/dist.tar.gz
/UpgradeLog.htm
/src/shared/formatter/registerNames.js
/src/shared/formatter/registerNames.js.map
/debug.log
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs
/admin.njsproj
/admin.sln
