
.data-table {
  word-break: break-word;
  ::v-deep tbody,
  ::v-deep thead {
    td,
    th {
      div {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tab-content>.tab-pane {
  min-height: 30em;
}

.details-cell {
  width: 15px;
}
